.recommended-venue-list__item {
    padding-bottom: 12px;
    border-bottom: 2px solid var(--color-border);
}

.recommended-venue-list__item:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
